body{
    background-color: bisque;
    margin: 0;
    padding: 110px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    margin: 0;
    padding: 0 20px;
    height: 150px;

}


nav{
    display: flex;
    gap: 15px;
    flex-direction: row;
    font-family: monospace;
        
    

}
header a{ color: white; text-decoration: none; font-weight:600 }
h1{
    position: 0,0,0,150;
    
    
}
.home_image{
    object-fit: cover;
    width: 40%;
    height: 40%;
    
}



